{% extends 'base.html.twig' %}

{% block title %}New Track{% endblock %}

{% block body %}
    <h1>Create new Track</h1>

    {{ include('track/_form.html.twig') }}
    <label for="artiste">Artiste</label>
    <select id="artiste">
    </select>

    <a href="{{ path('track_index') }}">back to list</a>
    <script>
        fetch('{{ path('json') }}')
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                console.log(data.data);
                for (let art of data.data) {
                    $('#artiste').append(`<option value="${art.id}"><a href="${art.href}"> ${art.name} </a></option>`);
                }

                $('#artiste').change(function () {
                    $('#track_artiste').val(data.data[$('#artiste').val()-1].id);
                });
            })
            .catch(error => console.log(error));

    </script>
{% endblock %}
